* {font-family: 'Poppins', sans-serif;}

#talk {
    font-size: 1.8vw;
    border-width: 2px;
}

#get-start {
    font-size: 2vw;
    padding: 1.8vw 7vw;
    border-radius: 15px;
}

.topping {
    margin-top: 5%;
    font-size: 1.4vw;
}

.nav-item {font-size: 20px;}

.big-txt {font-size: 4vw;}

.price-sizing {font-size: 1.5vw;}

.per-month {font-size: 1vw;}

.bold {font-size: 3vw;}

.anoth {font-size: 1.2vw;}

#contact-us {margin-top: 180px;}

.margining {margin-top: 28%;}

.top-spec {margin-top: 18%;}

.card-row {padding: 2% 4%;}

#learn-btn {padding: 4% 14%;}

#white {background-color: white;}

#difficult-img {width: 66.2%;}

.bottm {display: none;}

@media screen and (max-width:767px) {

    #get-start {
        font-size: 22px;
        padding: 24px 20%;
    }

    #talk {font-size: 16px;}

    .bold {font-size: 32px;}

    .bottm {display: block;}

    .top {display: none;}

    br {display: none;}

    .anoth {font-size: 16px;}

    .price-sizing {font-size: 22px;}
    
    .per-month {font-size: 16px;}
}

@media only screen and (min-width: 1956px) {

    #get-start {
        font-size: 36px;
        padding: 32px 118px;
    }

    .anoth {font-size: 16px;}

    .bold {font-size: 45px;}

    .head {font-size: 30px;}

    .topping {font-size: 28px;}    

    .big-txt {font-size: 80px; }
}