* {
    font-family: 'Poppins', sans-serif;
}

.nav-item {font-size: 20px;}

.top-spec {
    margin-top: 18%;
}

#talk {
    font-size: 1.8vw;
    border-width: 2px;
}

#get-start {
    font-size: 2vw;
    padding: 1.8vw 7vw;
    border-radius: 15px;
}

.topping {
    margin-top: 5%;
    font-size: 1.4vw;
}

.bottm {
    display: none;
}

.big-txt {
    font-size: 4vw; 
}

#difficult-img {
    width: 66.2%;
}

.margining {
    margin-top: 28%;
}

.price-sizing {
    font-size: 1.5vw;
}

.per-month {
    font-size: 1vw;
}

.bold {
    font-size: 3vw;
}

.anoth {
    font-size: 1.2vw;
}

#white {
    background-color: white;
}

@media screen and (max-width:767px) {

    .bold {
        font-size: 32px;
    }

    .bottm {
        display: block;
    }

    .top {
        display: none;
    }

    br {
        display: none;
    }

    #get-start {
        font-size: 22px;
        padding: 24px 20%;
    }

    .anoth {
        font-size: 16px;
    }

    .price-sizing {
        font-size: 22px;
    }
    
    .per-month {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1956px) {

    .anoth {
        font-size: 16px;
    }

    .bold {
        font-size: 45px;
    }

    #get-start {
        font-size: 36px;
        padding: 32px 118px;
    }

    .head {
        font-size: 30px;
    }

    .topping {
        font-size: 28px;
    }    

    .big-txt {
        font-size: 80px; 
    }
}